.page-section {
    padding: 2rem 0;
    border-bottom: 5px solid @accentColor;

    h1, h2{
        color: @brandColor;
    }

    &:first-of-type{
        padding-top: 0;
    }

    &:last-of-type{
        border-bottom: none;
    }
}
